/* navigation */
.navigation-list{
  display:flex;
  justify-content: space-between;
}

.navigation-list{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* use google font */
}

.nav{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* get rid of bullet list */
section ul{
  list-style: none;
  padding: 50px;
}


/* make border with padding after each section */
section{
  padding: 50px;
  /* border-bottom: .5px double black; */
}

/* get rid of bullet list in navigation toolbar */
nav ul{
  list-style: none;
  padding-left: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #566353;
}

/* make list in line, and flexible to adjustments */
nav li{
  display:inline-block;
  justify-content:flex-start;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a{
  text-decoration: none;
}

.main-content h1{
  text-align: center;
}

.main-content p{
  text-align: center;
  line-height: 80px
}

.main-content li{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

nav li:hover{
  background-color: #d5edd0;
  text-decoration-color: black;
}

nav li a:visited{
  text-decoration: line-through;
}

.about-me h1{
  text-align: center;
}

.about-me #mepic{
  display: block;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 40%;} */
}


ul{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

ul li{
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
